*.class
*.log
*.log.gz

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# intellij
.idea/
.scala_dependencies
.worksheet

# visual studio code
.bsp/
